<section class="projects float-right col-md-9">


    {{#unless True}}
    <div class="all-projects">
        <h4 class="project-headings">Current Tasks
            <span class="add-task float-right">
                <i class="fas fa-plus" data-toggle="modal" data-target="#addtaskModal"></i>
            </span>
        </h4>

        <ul>
            {{#each tasks}} {{#unless completed}} {{> addtask/addtask-block completed=false}} {{/unless}} {{/each}}
        </ul>
    </div>
    {{/unless}}
    <br> {{#unless True}}
    <div class="all-projects-completed">
        <span>
            <h4 class="project-headings d-inline">Completed Tasks</h4>
           
        </span>
        <ul>
            {{#each tasks}} {{#if completed}} {{> addtask/addtask-block completed=true}} {{/if}} {{/each}}
        </ul>
    </div>
    {{/unless}}

 <!-- Add Task Modal  -->
    <div class="modal fade" id="addtaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="add-task-title">Add Task</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-task" class="needs-validation" name="addtask" method="POST" action="/api/tasks" novalidate>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="taskname">Task Name</label>
                                    <input type="text" name="taskname" class="form-control" id="name-task" placeholder="Task Name" required>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="category">Category</label>
                                    <select name="category" class="form-control" id="category-task" placeholder="Category">
                                        <option>Planning</option>
                                        <option>Marketing</option>
                                        <option>Development</option>
                                        <option>Testing</option>
                                        <option>Administration</option>
                                        <option>Customer Support</option>
                                    </select>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                <label for="startdate">Start Date</label>
                                <input type="date" name="startdate" class="form-control" id="startdate-task" placeholder="Start Date" required>
                                <div class="valid-feedback">
                                ✓ Looks good!
                                </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                <label for="enddate">End Date</label>
                                <input type="date" name="enddate" class="form-control" id="enddate-task" placeholder="End Date" required>
                                <div class="valid-feedback">
                                ✓ Looks good!
                                </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="status">Status</label>
                                    <select name="status" class="form-control" id="status-task" placeholder="status" required>
                                        <option>In Progress</option>
                                        <option>Overdue</option>
                                    </select>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="userID">User</label>
                                    <select name="userName" class="form-control" id="userName-task" placeholder="userName" required>

                                    </select>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                            
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="projectID">Project</label>
                                    <select name="projectName" class="form-control" id="projectName-task" placeholder="project" required >

                                    </select>
                                    <div class="valid-feedback">
                                    ✓ Looks good!
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary bg-primary" type="submit">Submit form</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>

       